/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
   ============================================================ */
   body {
    font-family: 'Open Sans', sans-serif;

  }

  .pad-top {
    padding-top:60px;
  }
  .text-center {
    text-align:center;
  }
  i.fa {
    padding:5px;
  }
  section,#intro {
    padding-top:50px;
    background-color: #96BE3E;
  }
  section,#introller {
    padding-top:50px;
    background-color: #01364D;
  }
  section,#introller_third {
    padding-top:50px;
    background-color: #fff;
  }

  h2,h3,.animate {
    color: #fff;
  }
  h2,h3,.animate_two {
    color: #96BE3E;
  }
  h4,h5,.animate_third {
    color: #fff;
  }
  h4,h5,.ani {
    color: black;
  }
  .pad-row {
    padding-top:40px;
    padding-bottom:40px;
  }
  .pad-bottom {
    padding-bottom:50px;
  }

  /* NAVBAR STYLE */

  .navbar-inverse .navbar-nav > li > a {
    color: black;
  }

  .navbar-inverse .navbar-brand {
    color: #FFF;
  }

  /* ADDED PADDING IN NAVBAR */

  .navbar {
    padding:15px;
    -webkit-transition: background .8s ease-out,padding .8s ease-out;
    -moz-transition: background .8s ease-out,padding .8s ease-out;
    transition: background .8s ease-out,padding .8s ease-out;
  }
  .carousel-caption h2 {
    color: #fff;
    font-size: 72px;
  }
  .carousel-caption h3 {
    color: #fff;
    font-size: 36px;
  }
  .carousel-caption h4 {
    color: #fff;
    font-size: 16px;
  }
  /* CLASS FOR REMOVING PADDING IN NAVBAR*/
  .navbar-pad-original {
    padding:0px;
  }
  /* FOOTER STYLE*/


  #footer-sec {
    background-color:#01364D;
  }
  /* fh5co-intro */

  #fh5co-intro {
    background-color: #01364D;
    margin-top: -200px;
  }
  #fh5co-intro .fh5co-block > .overlay {
    background: #fff;
    opacity: 1;
    z-index: 9;
    position: absolute;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .row-bottom-padded-lg {
    padding-bottom: 7em;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
    /*margin-top: -150px;*/
  }
  #fh5co-intro .fh5co-block {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 14px;
    min-height: 300px;
    vertical-align: middle;
    padding: 40px;
    background: #fff;
    margin: auto;
    -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    z-index: 7;
    flex-grow: 1;
    background-size: cover;
    position: relative;
    backgroun-repeat: no-repeat;
  }
  #fh5co-intro .fh5co-block h2 {
    font-size: 30px;
    color: #96BE3E;
    text-align: center;
  }

  .section-heading h2 {
    font-weight: bold;
    line-height: 1.5;
    color: #FFF;
    font-size: 30px;
    text-align: center;
  }

  .section-heading h3 {
    font-weight: 300;
    line-height: 1.5;
    color: #FFF;
    font-size: 16px;
    padding-bottom: 50px;
    text-align: center;
  }
  @media (min-width: 992px){
    .col-md-offset-2 {
      margin-left: 16.66667%;
    }
    .col-md-8 {
      width: 66.66667%;
    }
  }

  /*T.Minh code*/
  /*Partners code*/
  .partners{
    background-color: #96be3e;
    font-size: 30px;
    padding-top: 70px;
  }
  .partners .text-partners,.title-partners{
    color: #FFF;
  }
  .partners .text-partners{
    font-size: 16px;
    margin-bottom: 60px;
  }
  .partners .container .row img{
    margin-top: 0;
    width: 100%;
    margin-bottom: 30px;
  }
  .partners .container .row .r-imgroup{
    position: relative;
  }
  .partners .container .row .r-imgroup .logo-partners{
    position: absolute;
    left: 15px;
    bottom:0;
  }
  /*Partners code End*/

  /*Gallety code*/
  .gallery{
    margin-top: -100px;
    font-size: 30px;
    background-color: #01364d;
    padding-top: 235px;
  }
  .gallery .title-gallery, .text-gallery{
    color: #FFF;
  }
  .gallery .text-gallery{
    font-size: 16px;
    margin-top: 25px;
  }

  .dg-container{
    width: 100%;
    height: 450px;
    margin-top: 55px; 
    margin-bottom: 145px;
    position: relative;
  }
  .dg-wrapper{
    width: 50%;
    /*height: 316px;*/
    margin: 0 auto;
    margin-top: 55px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
  }
  .dg-wrapper a{
    width: 100%;
    /*height: 316px;*/
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent url(../images/browser.png) no-repeat top left;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
  }
  .dg-wrapper a.dg-transition{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .dg-wrapper a img{
    display: block;
    padding: 41px 0px 0px 1px;
  }
  .dg-wrapper a div{
    font-style: italic;
    text-align: center;
    line-height: 50px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    color: #333;
    font-size: 16px;
    width: 100%;
    bottom: -55px;
    display: none;
    position: absolute;
  }
  .dg-wrapper a.dg-center div{
    display: block;
  }
  /*Gallety code End*/
/*Contact code*/
.contact{
  position: relative;
  background-color: #01364d;
  color: #FFF;
}
.contact iframe{
  z-index: 0;
}
.contact .contact-map{
  opacity: 0.3;
}
.contact .contact-frm{
  position: absolute;
  top: 90px;
  height: 500px;
  z-index: 1;
}
.contact .contact-frm .contact-tittle{
  font-size: 30px;
  margin-top: 90px;
  margin-bottom: 25px; 
  z-index: 5;
}
.contact .contact-frm .contact-text{
  font-size: 16px;
  margin-bottom: 35px;
}
.contact .contact-frm form input{
  margin-bottom: 15px;
}
.contact .contact-frm form textarea{
  height: 155px;
}
/*Contact code End*/